<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <title>Учебный отдел</title>
    </head>
    <body>
    <header><img src="/img/kit.jpg" alt="Логотип Kit"/></header>
        {{{body}}}
    </body>
</html>