<h1>Загрузить материалы урока</h1>
<form>
  <input type="hidden" name="referrer">
  Название урока: <input type="text" id="fieldName" name="name"><br>
  Название курса: <select><option>Вводный</option><option>Базовый</option><option>Молодёжная группа</option></select>
  <input type="submit" value="Submit">
</form>
{{#section 'jquery'}}
  <script>
    $(document).ready(function() {
      $('input[name="referrer"]').val(document.referrer);
    });
  </script>
{{/section}}