.loader-message {
	position: fixed;
	right: 20px;
	top: 85px;
	background: aliceblue;
	padding: 20px;
	border: 1px solid green;
	border-radius: 5px;
	font-weight: bold;
}

.loader-message span,
.loader-message i {
	display: inline-block;
	vertical-align: middle;
}

.loader-message i {
	margin-right: 5px;
}