.new-lesson-form {
	margin: 0 20px;
}

.new-lesson-form .lesson-comment {
	height: 217px;
}

.new-lesson-form .student-list .student-name {
	display: inline-block;;
	vertical-align: top;
}

.new-lesson-form .student-list .visit-checkbox {
	margin-right: 10px;
}

.new-lesson-form .btn-save-lesson {
	margin-right: 15px;
}

.new-lesson-form .student-list {
	height: 488px;
	overflow-y: scroll;
}