<div class="new-lesson-form">
	<form name="newLessonForm">
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<label>Тема</label>
					<input class="form-control" ng-class="{'error': nameError}" type="text" name="name" ng-model="lesson.name" ng-change="validateName(lesson.name)">
					<span class="required-field-error-hint" ng-show="nameError">* Обязательное поле</span>
				</div>
				<div class="form-group">
					<label>Преподаватель №1</label>
					<input class="form-control" type="text" ng-model="lesson.teachers[0]">		
				</div>
				<div class="form-group">
					<label>Преподаватель №2</label>
					<input class="form-control" type="text" ng-model="lesson.teachers[1]">		
				</div>
				<div class="form-group">
					<label>Администратор</label>
					<input class="form-control" type="text" ng-model="lesson.admin">		
				</div>
				<div class="form-group">
					<label>Дата</label>
					<input class="form-control" ng-class="{'error': dateError}" type="date" name="date" ng-model="lesson.date" ng-change="validateDate(lesson.date)">
					<span class="required-field-error-hint" ng-show="dateError">* Обязательное поле</span>
				</div>
				<div class="form-group">
					<label>Время начала</label>
					<input class="form-control" type="date" ng-model="lesson.startTime">		
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<label>Тип</label>
					<select class="form-control" ng-class="{'error': typeError}" ng-model="lesson.groups" name="type" ng-change="validateType(lesson.groups)" multiple>
						<option ng-repeat="type in types" value="{{type.type}}">{{type.name}}</option>
					</select>
					<span class="required-field-error-hint" ng-show="typeError">* Обязательное поле</span>
				</div>
				<div class="form-group">
					<label>Комментарий</label>
					<textarea class="form-control lesson-comment" placeholder="Описание урока" ng-model="lesson.description"></textarea>
				</div>
				<div class="form-group">
					<label>Время окончания</label>
					<input class="form-control" type="date" ng-model="lesson.endTime">		
				</div>
			</div>
			<div class="col-xs-4" ng-show="lesson.groups.length !== 0">
				<label>Студенты</label>
				<div class="student-list">
					<div ng-repeat="student in students">
						<input class="visit-checkbox" type="checkbox" ng-model="student.visit">
						<div class="student-name">{{student.lastName}} {{student.name}}</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div>
		<button class="btn btn-success btn-save-lesson" ng-click="saveLesson(lesson)">Сохранить</button>
		<a href="" class="btn btn-danger">Отмена</a>
	</div>
</div>