<div class="header">
	<div class="search">
		<input class="form-control" type="text" placeholder="Поиск" ng-model="searchText">
		<span class="search-icon"><i class="fa fa-search"></i></span>
	</div>
	<div class="date-filter">
		<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateFrom" is-open="isDateFromPopupOpen" ng-click="openDateFromPopup()" ng-change="fillTable()">
		<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateTo" is-open="isDateToPopupOpen" ng-click="openDateToPopup()" ng-change="fillTable()">
	</div>
	<div class="group-filter">
		<div class="btn-group">
			<button class="btn btn-default" ng-click="filterTable('all')">Все студенты</button>
			<!-- <button class="btn btn-default" ng-click="filterTable('intro')">Вводный курс</button> -->
			<button class="btn btn-default" ng-click="filterTable('Молодёжная группа')">Молодёжная группа</button>
			<!-- <button class="btn btn-default" ng-click="filterTable('Каббклуб')">Каб Клуб</button> -->
			<select class="form-control base-group-select" ng-change="filterTable(baseGroupFilter)" ng-model="baseGroupFilter" ng-options="group for group in baseGroups track by group">
					<option value="" disabled selected>Базовый курс</option>
			</select>
			<select class="form-control base-group-select" ng-change="filterTable(introGroupFilter)" ng-model="introGroupFilter" ng-options="group for group in introGroups track by group">
				<option value="" disabled selected>Вводный курс</option>
		</select>
		</div>
	</div>
</div>

<div class="calendar-container">
	<div class="month">{{currentMonth}}</div>
	<div class="calendar-header">
		<div class="name">
			ФИО
		</div>
		<div class="group">
			Группа
		</div>
		<div class="date" ng-repeat="date in dates">
			{{date.weekDay}}<br>
			{{date.dayNumber}}
		</div>
	</div>
	<div class="calc-table-loader" ng-show="calcTable">
		<i class="fa fa-spinner fa-spin"></i>
		Расчёт таблицы
	</div>
	<div class="calendar-body" ng-hide="calcTable">
		<ul class="students">
			<li class="student" ng-repeat="student in students | filter:searchText">
				<div class="student-name"><a href="" ng-click="openStudentForm(student)" title="{{student.lastName}}&nbsp;{{student.name}}">{{student.lastName}}&nbsp;{{student.name}}</a></div>
				<div class="group-name" title="{{student.groupView}}">{{student.groupView}}</div>
				<div ng-repeat="visit in student.visits" class="visit-cell {{visit.typeClass}}">{{visit.type}}</div>
			</li>
		</ul>
	</div>
	</div>
</div>
